<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Auth0.plist
   Junk4Dollars-app

   Created by John Riccardi on 12/4/19.
   Copyright (c) 2019 John Riccardi. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>ClientId</key>
        <string>rzUd008e4ajev8nZGeUQ2VuvIMG1TJ59</string>
        <key>Domain</key>
        <string>dev-whnyp6fr.auth0.com</string>
    </dict>
</plist>
